venv/
__pycache__/
*.csv
*.log
.vscode/
data/
backups/
.ruff_cache/
.pytest_cache/
.env
README.md
.pytest_tmp/
tests/
pytest.ini

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
e2e/
.github/
.prettierignore
playwright.config.js
package.json
package-lock.json
eslint.config.mjs
.stylelintrc.json
.stylelintignore
.prettierrc.json